<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>ABOUT</title>
</head>
<body>
    <h1>Sobre mí😁</h1>
    <p>Aquí te pondría más sobre mí pero ya si eso otro día</p>
    <lu>
        <li><a href="/home">Vuelve a la página principal</a></li>
        <li><a href="/gallery">Visita la galeria</a></li>
        <li><a href="/works">Mis trabajos</a></li>
    </lu>
</body>
</html>