<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>WORKS</title>
</head>
<body>
    <h1>Aquí irían los trabajos pero esta página está en construcción, sorry 😥</h1>
    <lu>
    <li><a href="/home">Vuelve a la página principal</a></li>
    <li><a href="/gallery">Visita la galeria</a></li>
    <li><a href="/about">Más sobre mí</a></li>
    </lu>
</body>
</html>